.carousel {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}
.carousel-item {
    height: 100%;
}
.bg-no-repeat {
    background: no-repeat;
}
.bg-footer-title {
    text-align: center;
    h3 {
        color: white;
        margin-top: 7px;
    }
}
