/*------- 5. Section title style  -------*/

.static-logo {
    width: calc(100% + 16px);
    display: flex;
    justify-content: space-around;
    padding: 16px;

    img {
        height: 28px;
        margin: 0 auto;
    }
}

.static-mobile {
    color: #fff;
    background: #97dbff;
    background-image: linear-gradient(45deg, #97dbff 0%, #008dd8 100%);
    .static-download {
        padding: 16px 32px;
        width: 100%;
        margin: 0 auto;

        .static-mobile-area {
            padding: 4rem 1rem 1rem 1rem;

            h4 {
                font-size: 2rem;
                margin-top: 16px;
                font-weight: bold;
                color: #fff;
            }
            .static-mobile-download {
                img {
                    width: auto;
                    padding: 4px;
                }
            }
        }
    }
}
